{% extends 'index.html' %}

{% block title %} links {% endblock title %}

{% block content %}
<div class="plot">
    <div class="description">
        <p class="text_square">I am constantly working on improving the website and am always eager to hear your
            feedback. If you have any suggestions, comments, or advice that could help make the site more user-friendly
            and useful for you, please feel free to let me know. Your opinion is very important to me, and I will do my
            best to consider all your suggestions in future updates.</p>
        <div class="links_t">
            <div class="contact-item" style="--clr:#89ec6b; border: 1px solid var(--clr);">
                <h4>WhatsApp:</h4>
                <p>+7 771 022 22 24</p>
                <p>Contact via WhatsApp is available from Monday to Friday, 9:00 AM to 6:00 PM. I will do my best to
                    respond to your message as quickly as possible.</p>
            </div>
            <div class="contact-item" style="--clr:#5b98eb; border: 1px solid var(--clr);">
                <h4>Telegram:</h4>
                <p>@Tomsonito</p>
                <p>Contact via Telegram is available from Monday to Friday, 9:00 AM to 6:00 PM.
                    I will do my best to respond to your message as quickly as possible.</p>
            </div>
            <div class="contact-item" style="--clr:#5b98eb; border: 1px solid red;">
                <h4>Gmail:</h4>
                <p>Tomfull99@gmail.com</p>
                <p>Email me, and I will do my best to respond to your message within 24 hours.</p>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}